/** {
	border: 1px solid red;
	margin: 10px;
}

header {
	background: blue; 
}

section {
	background: purple;
}

section article {
	background: peru;
}

#header {
	border: 3px solid black;
}

#portada {
	border: 3px solid orange;
}
#guitarras {
	border: 3px solid orange;}*/


/*Inicio de propiedades del proyecto*/

*{

}

body {
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

input, textarea {
	outline: 0;
}

input:focus, textarea:focus {
	background: lightgray;
}
.background {
	color: white; 
	background-image: url('../images/background.png');
	background-size: cover;
}

.button {
	border-radius: 12px;
	/*background: #FD324E;*/
	color: white;
	border:none;
	padding: 5px 15px;
	font-size: 18px;
	text-decoration: none;
	background: linear-gradient(to left, #fe3443, #ff7250);

	cursor: pointer;
}

.header {
	position:relative;
}

.centrado {
	max-width: 800px;
	margin:auto; /*centrando elemento*/
}



.titulo {
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-top:70px;
	margin-bottom: 15px;
	line-height: 40px;
}

.titulo span {
	text-decoration: underline;

}

.title-a {

	font-size: 24px;
	margin-top: 0;
}
			
.title-b {
	font-size: 50px;
	margin-bottom: 20px;
}

.guitarras {
	color: #1F313C;
	margin-bottom: 60px;
	
}

.guitarras h2 {
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;

}

.portada {
	
	padding: 20px;
	height: 500px;
	

}

.portada button {
	margin-bottom: 70px;

}

.menu {
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu li {
	display: inline-block;
	margin-left: 30px;
}

.menu a {
	color:white;
	text-decoration: none;
}

.logotipo {
	display: inline-block;
	margin-left: 0;
}

.guitarra {
	margin:10px 10px 40px 10px;
	padding: 10px;
	/*overflow: hidden;*/
	border: 1px solid #1F313C; 
	border-radius: 8px;
}

.guitarra.b {
	height: 190px;
}

.right {
	float: right;
	position: relative;
	top:-127px;


}

.left {
	float: left;
	position: relative;
    /*top: -10px;*/
}

.guitarra ol {
	padding: 0;
}

.contenedor-guitarra-a {
	padding-left: 20px;
}

.contenedor-guitarra-b {
	margin-left: 370px;
	position: relative;
    top: -80px;
}

.footer {
	background: #273b47;
}

.contacto {
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-content: center;
}

.contacto img {
	display: block;
}

.contacto strong {
	display: block;
}

.contacto a {
	color: white;
	text-decoration: none;
	margin:10px 10px 10px 0;
}

.footer .centrado {
	display: flex;
	justify-content: space-between;

}

.formulario {
	display: flex;
	justify-content: space-between;
	width: 400px;
	color: white;
	padding: 20px 0;
}



.formulario label, .sexo, .intereses {
	margin-bottom: 10px;
	margin-top:2px;
}

.col1, .col2 {
	display: flex;
	flex-direction: column;
}


.col1 {
	margin-right: 15px;
}

.col2 {
	align-items: center;

}

.col2 .button {
	margin-top: 15px;
}

.intereses label {
	font-size: 12px;
}


.tabla {
	width: 100%;
	margin: 50px 0;
}

.tabla th {

	background: #273B47;
	color: white;
	padding: 10px 20px;
	text-align: left;
}

.tabla td {
	padding: 20px;
}

.tabla td, .tabla th {
	border: 1px solid #273B47;
	border-collapse: collapse;
}


.menu li:before {
	content: '°';
	font-size: 20px;
	line-height: 20px;
	/*color: #273B47;*/
	color: white;
	padding: 0 10px;
}	

@media screen and (max-width: 767px) {
	.footer .centrado {
		display: block;

	}

	.contacto {
		margin: 0 auto;
		padding-top: 10px;
	}
		

	.formulario {
		display: block;
		margin: 0 auto;
		width: 300px;
	}

	.intereses label {
		display: block;
		font-size:16px;
	}

	.col1 {
		margin:0;
	}

	input[type="text"], 
	input[type="email"] {
		padding: 5px;
		font-size:16px;

	}

	input[type="radio"],
	input[type="checkbox"] {
		zoom:1.5;
	}




	textarea {
		width: 100%;
	}
}


@media screen and (max-width: 500px) {
	.menu li {
		display: block;
		margin:0;
		padding: 8px 0;
		border-bottom: 1px solid white;
	}

	.menu li:before {
		display: none;
	}

	.menu li:first-child {
		border-top:1px solid white;
	}

	.portada {
		text-align: center;
	}

	.titulo {
		font-size: 30px;
	}

	.title-a {
		font-size:16px;
	}

	
	.guitarras img {
		width: 200px;
		/*height: auto;*/
	}

	.title-b {
		font-size:30px;
	}


}


@media screen and (max-width: 800px) {
	
	.portada {
		height: auto;
	}

	.titulo {
		font-size:40px;
		margin-top: 30px;
	}

	.title-a {
		font-size:18px;
	}
	
	.portada .button {
		display: inline-block;
		margin-bottom: 30px;
	}

	/*guitarras*/

	.guitarras {
		text-align: center;
	}

	.right, .left {
		float : none;
		position: static;
	}

	.title-b {
		margin: 0;
	}

	.guitarra li {	
		list-style: none;
	}

	.guitarra.b {
		height: auto;
	}

	.guitarra.a {
		height: auto;
	}

	.contenedor-guitarra-b{
		position: static;
		margin:0;
	}

	.right {
		width: 250px;
	}

	

}

@media screen and (max-width: 650px) {


	.header {
		text-align: center;
		
	}

	.portada .button {
		/*display: block;
	    text-align: center;
	    margin-left: 220px;
	    /* margin-right: 80px; */
	    /*margin-right: 220px;*/
		
	}

	.logotipo {
		margin:0;
	}

	.menu {
		position:static;
		display: block;

		
	}

	.menu li:first-child {
		margin:0;
	}

	.menu ul {
		padding: 0;
	}

	.comentarios {
		margin-right: 15px;
	}

	.col1 {
		margin-right: 5px;
	    margin-left: 8px;
	}


	}

	.contenedor-guitarra-a {
		/*padding: 0;*/
	}
	
}